<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="质检员Master.master.cs" Inherits="Homework.PatentApplicationSystem.质检员.质检员Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
<asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</asp:Content>
<%--<asp:Content ID="Content2" ContentPlaceHolderID="TabPlaceHolder" runat="server">
<li id="流程部质检Tab" runat="server" class="selected">
    <asp:HyperLink ID="HyperLink1" Text="流程部质检" NavigateUrl="~/质检员/流程部质检/Default.aspx" runat="server" />
</li>
<li id="处理提交并确认Tab" runat="server" class="selected">
    <asp:HyperLink ID="HyperLink2" Text="处理提交并确认" NavigateUrl="~/质检员/处理提交并确认/Default.aspx" runat="server" />
</li>
</asp:Content>
--%><asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
<asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>
