@charset "UTF-8";
* {
	outline:none;
	margin: 0;
	padding: 0;/*background-color:rgba(0,0,0,0.1);*/
}
body {
	background-image:url(picture/bg.png);
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
a img {
	border: none;
}
a {
	color: #464646;
	text-decoration: none;
}
#container {
	color:#464646;
	margin: 0 auto;
	overflow: hidden;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#header {
	margin-left:auto;
	margin-right:auto;
	height:102px;
	padding-left:108px;
	padding-right:108px;
	width:800px;
	background-image:url(picture/logo.png);
	background-repeat:no-repeat;
}
#header #loginfo {
	text-align:center;
	padding-top:7px;
	font-size:12px;
	color:#acacac;
	padding-left:17px;
	padding-right:17px;
	float:right;
	background-image:url(picture/log-bg.png);
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	height:22px;
}
#header #loginfo a {
	color:#acacac;
}
#header #loginfo a:hover {
	color:#ccc;
	text-decoration:underline;
}
#nav ul li {
	float:left;
	font-size:14px;
	font-weight:bold;
	line-height:29px;
	text-align:center;
	margin-right:10px;
	margin-top:74px;
	height:28px;
	width:80px;
	display:inline-block;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	text-shadow:0 1px 0 #fff;
	background:#CCC;
	background:-webkit-gradient(linear, 0% 0, 0% 100%, from(white), color-stop(0.04, #F7F7F7), color-stop(0.96, #ededed), to(#d6d6d6));
}
#nav ul li:hover {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(white), color-stop(0.04, #fff), color-stop(0.96, #f2f2f2), to(#e3e3e3));
}
#nav ul li.selected {
	background:#FFF;
}
.content-bg {
	min-height:400px;
	background: #FFF;
}
#content {
	position:relative;
	padding-top:33px;
	font-size:12px;
	width:660px;
	margin-left:auto;
	margin-right:auto;
	padding-bottom:60px;
}
#breadcrumbs {
	margin-bottom:26px;
	color:#898989;
	padding-left:10px;
	padding-top:8px;
	height:22px;
	background:#f7f7f7;
}
#breadcrumbs a, #breadcrumbs span {
	color:#898989;
}
#breadcrumbs a.current {
	color:#464646;
}
#breadcrumbs a:hover {
	color:#d01600;
	text-decoration:underline;
}
#nav2 {
	padding-left:10px;
	margin-bottom:20px;
	height:27px;
	border-bottom:1px solid #d7d7d7;
}
#nav2 ul li {
	padding-top:6px;
	border:1px solid #d7d7d7;
	font-size:12px;
	text-align:center;
	margin-right:10px;
	height:20px;
	width:80px;
	display:inline-block;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	background:#fff;
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#f3f3f3));
	text-shadow:0 1px 0 #fff;
}
#nav2 ul li:hover {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#f7f7f7));
}
#nav2 ul li.selected {
	background-image:none;
	border-bottom:1px solid #fff;
}
.mail-bg {
	margin-top:10px;
	margin-bottom:14px;
}
#nav3 {
	display:inline-block;
	float:left;
	margin-bottom:20px;
	width:105px;
}
#nav3 ul {
	margin-top:10px;
	background-image:url(picture/mail-nav-bg.png);
	background-repeat:repeat-y;
}
#nav3 ul li {
	padding-top:7px;
	padding-left:10px;
	font-size:12px;
	height:23px;
	display:block;
	background:#fff;
	background-image:url(picture/nav3-default.png);
	text-shadow:0 1px 0 #fff;
}
#nav3 ul li#new-mail {
	margin-bottom:10px;
}
#nav3 ul li:hover {
	background-image:url(picture/nav3-hover.png);
}
#nav3 ul li.selected {
	background-image:url(picture/nav3-selected.png);
}
#nav3 ul li.selected:hover {
	background-image:url(picture/nav3-selected.png);
}
#main {
	background:#fff;
	padding-left:10px;
	padding-right:10px;
}
#mail-box {
	display:inline-block;
	margin-left:15px;
	width:520px;
}
#mail-box table {
	margin-top:10px;
}
table {
	width:100%;
}
table, th, td {
	text-align:left;
	border: 1px solid #d7d7d7;
	border-collapse: collapse;
	color: #898989;
}
td, th {
	padding: 7px;
	padding-left:10px;
}
td.checkbox {
	width:16px;
}
thead th {
	background: #f7f7f7;
	color: #464646;
}
tbody tr {
	background: #FCFDFE;
}
tbody tr.odd {
	background: #fafafa;
}
tbody tr:hover {
	background: #f5f5f5;
}
table a {
	color: #d01600;
}
table a:hover {
	text-decoration: underline;
}
.sbutton {
	margin-right:10px;
	text-shadow:0 1px 0 #fff;
	display:inline-block;
	border:1px solid #ccc;
	-webkit-border-radius: 2px;
	height:20px;
	padding-left:8px;
	padding-right:8px;
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), to(#f3f3f3));
}
.sbutton:hover {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#fff), to(#f7f7f7));
}
.sbutton:active {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#f7f7f7), to(#fff));
}
.mbutton {
	margin-top:10px;
	margin-right:10px;
	text-shadow:0 1px 0 #fff;
	display:inline-block;
	border:1px solid #ccc;
	-webkit-border-radius: 4px;
	height:30px;
	width:70px;
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#f7f7f7), to(#ebebeb));
}
.mbutton:hover {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#fcfcfc), to(#f0f0f0));
}
.mbutton:active {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(#f0f0f0), to(#fcfcfc));
}
#decide {
	padding-top:15px;
	text-align:right;
	margin-top:28px;
	border-top:1px solid #d7d7d7;
}
#decide button {
	-webkit-transition: background-color 0.4s;
}
.feed {
	margin-bottom:12px;
	border-bottom:1px dotted #ddd;
}
.feed p {
	padding:0 10px 0 10px;
	margin:10px 0 6px 0;
}
.feed .name {
	-webkit-border-radius: 2px;
	color:white;
	padding:1px 2px 1px 2px;
	background-color:#d01600;
}
.feed .time {
	float:right;
	margin-right:10px;
	color:#b7b7b7;
}
.comment {
	padding:30px 20px 20px 20px;
	margin-top:25px;
	background-color:#f7f7f7;
	min-height:30px;
}
.comment textarea {
	padding:7px 10px 6px 10px;
	height:15px;
	width:480px;
	max-width:480px;
}
.comment .mbutton {
	position:relative;
	top:-11px;
	margin:0;
	margin-left:10px;
	width:78px;
}
.lbutton-blue {
	font-size:14px;
	color:#fff;
	margin-left:10px;
	text-shadow:0 -1px 0 #043a5e;
	display:inline-block;
	border:1px solid #004567;
	-webkit-border-radius: 4px;
	height:34px;
	width:90px;
	background-color:#0072bc;
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
}
.lbutton-blue:hover {
	background-color:#009aef;
}
.lbutton-blue:active {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
}
.lbutton-red {
	font-size:14px;
	color:#fff;
	margin-left:10px;
	text-shadow:0 -1px 0 #670f04;
	display:inline-block;
	border:1px solid #8e0000;
	-webkit-border-radius: 4px;
	height:34px;
	width:90px;
	background-color:#d01600;
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
}
.lbutton-red:hover {
	background-color:#f91900;
}
.lbutton-red:active {
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(255, 255, 255, 0.1)));
}
input.search {
	float:right;
	margin-top:10px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #d7d7d7;
	border-right:none;
	height:28px;
	width:140px;
}
input.bn-srh {
	float:right;
	margin-top:10px;
	cursor:pointer;
	width:28px;
	background-color:#FFF;
	background-image:url(picture/search.png);
	text-indent: -100px;
	border:1px solid #d7d7d7;
	border-left:none;
	height:30px;
}
#footer-bg {
	height:96px;
	background-image:url(picture/footer-bg.png);
	background-repeat:repeat-x;
	background-position:center-top;
}
#footer {
	font-size:12px;
	color:#898989;
	padding-top:24px;
	text-align:center;
	width:660px;
	margin-left:auto;
	margin-right:auto;
	height:72px;
	background-image:url(picture/footer.png);
	background-repeat:no-repeat;
	background-position:center-top;
}
#footer a {
	text-shadow:0 -1px 0 #000;
	color:#898989;
	display:inline-block;
}
#footer a:hover {
	color:#acacac;
	text-decoration:underline;
}
#footer #copyright {
	text-shadow:0 -1px 0 #000;
	margin-top:12px;
}
.separator {
	text-align:center;
	display:inline-block;
	width:20px;
}
#login {
	padding-top:81px;
	background-image:url(picture/logo-log.png);
	background-position:center top;
	background-repeat:no-repeat;
	width:280px;
	margin:160px auto 0 auto;
}
#login input, #login button {
	
	display:block;
}
#login input {-webkit-transition: background-color 1s;
	color:#898989;
	text-shadow:0 -1px 0 #000;
	font-size:16px;
	padding:0 10px 0 10px;;
	background-color:#363636;
	height:40px;
	width:260px;
}
#login input:hover {
	background-color:#404040;

}
#login input.username {
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	border:0;
	border-top:1px solid #000;
	border-bottom:1px solid #000;
}
#login input.password {
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border:0;
	border-top:1px solid #4a4a4a;
	border-bottom:1px solid #4a4a4a;
}
#login button {
cursor:pointer;
	margin-top:20px;
	float:right;
	font-size:14px;
	font-weight:bold;
	color:#464646;
	text-shadow:0 1px 0 #fff;
	display:inline-block;
	border:0;
	border-bottom:1px solid #000;
	-webkit-border-radius: 4px;
	height:28px;
	width:60px;
	background-color:#f2f2f2;
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.1)));
}
#login button:hover{
	background-color:#fafafa;
}
#login button:active{
	background-image:-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(0, 0, 0, 0.1)), to(rgba(255,255,255,0.1)));
}
