@charset "UTF-8";
*{
	margin: 0;
	padding: 0;
}
body {
	background-image:url(../Images/bg.png);
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
}
ul, ol, dl {
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}
a img {
	border: none;
}
a {
	color: #464646;
	text-decoration: none;
}

#container {
	color:#464646;
	margin: 0 auto;
	overflow: hidden;
}
.clearfloat {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#header {
	margin-left:auto;
	margin-right:auto;
	height:102px;
	padding-left:108px;
	padding-right:108px;
	width:660px;
	background-image:url(../Images/logo.png);
	background-repeat:no-repeat;
	
}
#header #loginfo{
	text-align:center;
	padding-top:7px;
	font-size:12px;
	color:#acacac;
	padding-left:17px;
	padding-right:17px;
	float:right;
	background-image:url(../Images/log-bg.png);
	-webkit-border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px; 
	height:22px;
	width:80px;
}
#header #loginfo a{
	color:#acacac;
}
#header #loginfo a:hover{
	color:#ccc;
	text-decoration:underline;
}
#nav ul li {
	font-size:14px;
	font-weight:bold;
	line-height:29px;
	text-align:center;
	margin-right:10px;
	margin-top:74px;
	height:28px;
	width:100px;
	display:inline-block;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px; 
	text-shadow:0 1px 0 #fff;
	background:#CCC;
	background:-webkit-gradient(linear,0% 0,0% 100%,from(white),color-stop(0.04,#F7F7F7),color-stop(0.96,#ededed),to(#d6d6d6));
}
#nav ul li:hover {
	background-image:-webkit-gradient(linear,0% 0,0% 100%,from(white),color-stop(0.04,#fff),color-stop(0.96,#f2f2f2),to(#e3e3e3));
}
#nav ul li.selected {
	background:#FFF;
}
.content-bg {
	background: #FFF;
}
#content {
	padding-top:33px;
	font-size:12px;
	height:400px;
	width:660px;
	margin-left:auto;
	margin-right:auto;
}
#breadcrumbs {
	height:30px;
	background:#f7f7f7;
}
#footer-bg {
	height:96px;
	background-image:url(../Images/footer-bg.png);
	background-repeat:repeat-x;
	background-position:center-top;
}
#footer {
	font-size:12px;
	color:#898989;
	padding-top:24px;
	text-align:center;
	width:660px;
	margin-left:auto;
	margin-right:auto;
	height:72px;
	background-image:url(../Images/footer.png);
	backk
	background-repeat:no-repeat;
	background-position:center-top;
}
#footer a {
	text-shadow:0 -1px 0 #000;
	color:#898989;
	display:inline-block;
}
#footer a:hover {
	color:#acacac;
	text-decoration:underline;
}
#footer #copyright {
	text-shadow:0 -1px 0 #000;
	margin-top:12px;
}
.separator {
	display:inline-block;
	width:20px;
}
