<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="立案员Master.master.cs" Inherits="Homework.PatentApplicationSystem.立案员.立案员Master" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
    <asp:ContentPlaceHolder ID="HeadContent" runat="server" />
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="TabPlaceHolder" runat="server">
<li runat="server" id="立案Tab">
    <asp:HyperLink ID="HyperLink1" Text="立案" NavigateUrl="~/立案员/Default.aspx" runat="server" />
</li>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="MainContent" runat="server">
    <asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>
