<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CaseListMaster.master.cs" Inherits="Homework.PatentApplicationSystem.CaseListMaster" %>
<%@MasterType TypeName="Homework.PatentApplicationSystem.SiteMaster" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<user:CaseList ID="CaseList" runat="server" />
<asp:ContentPlaceHolder ID="MainContent" runat="server" />
</asp:Content>
