<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=seckcoder\SQLEXPRESS;Initial Catalog=HW_PAS;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <!--<add name="SqlRoleManagerConnection" connectionString="Data Source=.\SQLEXPRESS;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;Integrated Security = true; User Instance = true" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <sessionState cookieless="UseCookies" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="false" timeout="20" mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="10" sqlConnectionString="data source=127.0.0.1;Integrated Security=SSPI"
                  sqlCommandTimeout="30" allowCustomSqlDatabase="false" customProvider="" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <pages>
      <controls>
        <add tagPrefix="user" tagName="Tab" src="~/UserControl/Tab.ascx"/>
        <add tagPrefix="user" tagName="File" src="~/UserControl/FileUserControl.ascx"/>
        <add tagPrefix="user" tagName="CaseFile" src="~/UserControl/CaseFileUserControl.ascx"/>
        <add tagPrefix="user" tagName="SetupCaseCaseInfo" src="~/UserControl/SetupCaseCaseInfoUserControl.ascx" />
        <add tagPrefix="user" tagName="CaseInfo" src="~/UserControl/CaseInfoUserControl.ascx"/>
      </controls>
    </pages>
    <!--<siteMap defaultProvider="MySiteMapProvider">
      <providers>
        <clear/>
        <add />
      </providers>
    </siteMap>-->
    
    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>-->

    <roleManager enabled="true">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <!--<add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />-->
      </providers>
    </roleManager>
    
  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
