<?xml version="1.0"?>

<configuration>
	<connectionStrings>
		<add name="ApplicationServices" connectionString="Data Source=.\;Initial Catalog=HW_PAS;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<sessionState cookieless="UseCookies" cookieName="ASP.NET_SessionId" regenerateExpiredSessionId="false" timeout="20" mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="10" sqlConnectionString="data source=127.0.0.1;Integrated Security=SSPI" sqlCommandTimeout="30" allowCustomSqlDatabase="false" customProvider="" />
		<authentication mode="Forms">
			<forms loginUrl="~/Account/Login.aspx" timeout="2880" />
		</authentication>
		<pages>
			<controls>
				<add tagPrefix="user" tagName="Tab" src="~/UserControl/Tab.ascx" />
				<add tagPrefix="user" tagName="File" src="~/UserControl/FileUserControl.ascx" />
				<add tagPrefix="user" tagName="CaseList" src="~/UserControl/CaseListUserControl.ascx" />
				<add tagPrefix="user" tagName="CaseInfo" src="~/UserControl/CaseInfoUserControl.ascx" />
				<add tagPrefix="user" tagName="FeedBack" src="~/UserControl/FeedBackUserControl.ascx" />
			</controls>
		</pages>

		<roleManager enabled="true">
			<providers>
				<clear />
				<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
			</providers>
		</roleManager>

	</system.web>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
	</system.webServer>
</configuration>